@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.top-main{
  background: rgb(0, 222, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 222, 255, 1) 0%,
    rgba(98, 255, 216, 1) 100%
  );
}

.logo {
  padding-top: 30px;
  margin-left: 50px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

#top-head {
  display: flex;
  height: 725px;
}

#head-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}

.heading1{
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
}

.heading2{
  font-size: 80px;
  font-family: 'Nunito', sans-serif;
  margin-top: -10px;
}

#img-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#img-box img{
  height: 500px;
  width: 500px;
}

button{
  padding: 10px 20px;
  margin: 25px 5px;
  background: rgba(255, 255, 255, 0.668);
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

button:hover{
  background: rgb(255, 255, 255);
}

/* ----section 2---- */

.section2{
  background: rgb(0, 222, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 222, 255, 1) 0%,
    rgba(98, 255, 216, 1) 100%
  );
  height: 770px;
  display: flex;
  -webkit-box-shadow: inset 0px 2px 10px 0px rgba(194,194,194,1);
  -moz-box-shadow: inset 0px 2px 10px 0px rgba(194,194,194,1);
  box-shadow: inset 0px 2px 10px 0px rgba(194,194,194,1);
}

#sec2-b1{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sec2-b1 button{
  width: 100px;
  margin-left: 110px;
}

#sec2-b1 h1, .pera{
  padding: 10px;
  margin-left: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#sec2-b2{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.img-box{
  height: 450px;
  width: 450px;
  border-radius: 0px 100px 0px 0px;
  background: url(https://media.istockphoto.com/photos/charging-smart-phone-with-power-bank-picture-id1292013237?b=1&k=20&m=1292013237&s=170667a&w=0&h=uaWwtm-J3kfLc-2l-sgeZRDcuklFW0wHawAGMQ3v28Q=);
  background-size: cover;
}

/* ---section 3--- */

#section3{
  text-align: center;
  background: rgb(0, 222, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 222, 255, 1) 0%,
    rgba(98, 255, 216, 1) 100%
  );
  height: 770px;
  -webkit-box-shadow: inset 0px 2px 10px 0px rgba(194,194,194,1);
  -moz-box-shadow: inset 0px 2px 10px 0px rgba(194,194,194,1);
  box-shadow: inset 0px 2px 10px 0px rgba(194,194,194,1);
}

.sec3-head{
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
}

#sec3-main{
  display: flex;
}

.sec3-box{
  width: 33.33%;
  height: 450px;
  margin: 20px 40px;
  border-radius: 0px 80px 0px 80px;
  background: white;
  overflow: hidden;
  padding: 20px;
}

#btn-s3{
  padding: 10px 25px;
  background: rgba(255, 255, 255, 0.668);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 40px;
}

#btn-s3:hover{
  background: white;
}

.sec3-img{
  width: 100%;
  height: 300px;
  border-radius: 0px 70px 0px 0px;
  background-color: rgb(198, 198, 198);
  overflow: hidden;
}

.sec3-content h2, .lines{
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

/* ---section 4--- */

#section4{
    background: rgb(0, 222, 255);
    background: linear-gradient(
    90deg,
    rgba(0, 222, 255, 1) 0%,
    rgba(98, 255, 216, 1) 100%
    );
    height: 770px;
    display: flex;
    -webkit-box-shadow: inset 0px 2px 10px 0px rgba(194,194,194,1);
    -moz-box-shadow: inset 0px 2px 10px 0px rgba(194,194,194,1);
    box-shadow: inset 0px 2px 10px 0px rgba(194,194,194,1);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.sec4-img{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.img-box2{
  height: 450px;
  width: 450px;
  border-radius: 0px 100px 0px 0px;
  background: url(https://thumbs.dreamstime.com/b/audio-headphone-d-render-image-pink-blue-audio-headphone-d-render-image-pink-blue-coloration-du-bi-color-background-151397895.jpg);
  background-size: cover;
}

.sec4-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec4-content h1, #address{
  padding: 10px 100px;
}

.h2{
  padding: 10px 100px;
  padding-top: 50px;
}

.para-sec4-2{
  padding-bottom: 80px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

/* ---section 5--- */

#section5{
  background: black;
  height: 770px;
  display: flex;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.box1-sec5{
  width: 50%;
}

.box2-sec5{
  width: 50%;
}

.head-sec5{
  padding: 120px 80px;
  color: rgb(139, 255, 232);
  font-size: 40px;
}

.sec5-content{
  display: flex;
}

.sec5-content .hh{
  padding-top: 120px;
  padding-bottom: 20px;
}

.address{
  width: 50%;
  padding-bottom: 20px;
}

.social{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.icons{
  padding: 5px;
}

.icons:hover{
  text-decoration: underline;
  font-weight: bold;
}

@media all and (max-width:1279px) and (min-width:1024px) {
.heading1{
  font-size: 60px;
}
.heading2{
  font-size: 60px;
}
#img-box img{
  height: 400px;
  width: 400px;
}
#top-head{
  height: 600px;
}
.section2{
  height: 650px;
}
#sec2-b1 h1, .pera{
  margin-left: 70px;
}
.img-box{
  height: 400px;
  width: 400px;
}
#sec2-b2{
  padding-left: 50px;
}
#sec2-b1 button{
  margin-left: 80px;
}
#section3{
  height: 660px;
}
.sec3-box{
  height: 350px;
  padding: 15px;
  margin: 20px 30px;
}
.sec3-img{
  height: 200px;
}
.sec3-content h2, .lines{
  padding: 8px;
}
#section4, #section5{
  height: 660px;
}
.img-box2{
  height: 400px;
  width: 400px;
}
.head-sec5{
  padding: 120px 60px;
  font-size: 35px;
}
}